<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="WishMapper" >
  <resultMap id="BaseResultMap" type="com.hn.dls.entity.Wish" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="FK_SP_ID" property="fkSpId" jdbcType="INTEGER" />
    <result column="FK_USER_ID" property="fkUserId" jdbcType="VARCHAR" />
    <result column="ADD_TIME" property="addTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FK_SP_ID, FK_USER_ID, ADD_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dls_wish
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dls_wish
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hn.dls.entity.Wish" >
    insert into dls_wish (ID, FK_SP_ID, FK_USER_ID, 
      ADD_TIME)
    values (#{id,jdbcType=INTEGER}, #{fkSpId,jdbcType=INTEGER}, #{fkUserId,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hn.dls.entity.Wish" >
    insert into dls_wish
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="fkSpId != null" >
        FK_SP_ID,
      </if>
      <if test="fkUserId != null" >
        FK_USER_ID,
      </if>
      <if test="addTime != null" >
        ADD_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fkSpId != null" >
        #{fkSpId,jdbcType=INTEGER},
      </if>
      <if test="fkUserId != null" >
        #{fkUserId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hn.dls.entity.Wish" >
    update dls_wish
    <set >
      <if test="fkSpId != null" >
        FK_SP_ID = #{fkSpId,jdbcType=INTEGER},
      </if>
      <if test="fkUserId != null" >
        FK_USER_ID = #{fkUserId,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hn.dls.entity.Wish" >
    update dls_wish
    set FK_SP_ID = #{fkSpId,jdbcType=INTEGER},
      FK_USER_ID = #{fkUserId,jdbcType=VARCHAR},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>