<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="OrderGoodscfMapper" >
  <resultMap id="BaseResultMap" type="com.hn.dls.entity.OrderGoodscf" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="FK_ORDER_ID" property="fkOrderId" jdbcType="INTEGER" />
    <result column="GOODS_TITLE" property="goodsTitle" jdbcType="VARCHAR" />
    <result column="IMG_URL" property="imgUrl" jdbcType="VARCHAR" />
    <result column="SPEC_TEXT" property="specText" jdbcType="VARCHAR" />
    <result column="GOODS_PRICE" property="goodsPrice" jdbcType="DECIMAL" />
    <result column="REAL_PRICE" property="realPrice" jdbcType="DECIMAL" />
    <result column="QUANTITY" property="quantity" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FK_ORDER_ID, GOODS_TITLE, IMG_URL, SPEC_TEXT, GOODS_PRICE, REAL_PRICE, QUANTITY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dls_order_goods
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dls_order_goods
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hn.dls.entity.OrderGoodscf" >
    insert into dls_order_goods (ID, FK_ORDER_ID, GOODS_TITLE, 
      IMG_URL, SPEC_TEXT, GOODS_PRICE, 
      REAL_PRICE, QUANTITY)
    values (#{id,jdbcType=INTEGER}, #{fkOrderId,jdbcType=INTEGER}, #{goodsTitle,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{specText,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=DECIMAL}, 
      #{realPrice,jdbcType=DECIMAL}, #{quantity,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hn.dls.entity.OrderGoodscf" >
    insert into dls_order_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="fkOrderId != null" >
        FK_ORDER_ID,
      </if>
      <if test="goodsTitle != null" >
        GOODS_TITLE,
      </if>
      <if test="imgUrl != null" >
        IMG_URL,
      </if>
      <if test="specText != null" >
        SPEC_TEXT,
      </if>
      <if test="goodsPrice != null" >
        GOODS_PRICE,
      </if>
      <if test="realPrice != null" >
        REAL_PRICE,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fkOrderId != null" >
        #{fkOrderId,jdbcType=INTEGER},
      </if>
      <if test="goodsTitle != null" >
        #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="specText != null" >
        #{specText,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null" >
        #{realPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hn.dls.entity.OrderGoodscf" >
    update dls_order_goods
    <set >
      <if test="fkOrderId != null" >
        FK_ORDER_ID = #{fkOrderId,jdbcType=INTEGER},
      </if>
      <if test="goodsTitle != null" >
        GOODS_TITLE = #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="specText != null" >
        SPEC_TEXT = #{specText,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        GOODS_PRICE = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null" >
        REAL_PRICE = #{realPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hn.dls.entity.OrderGoodscf" >
    update dls_order_goods
    set FK_ORDER_ID = #{fkOrderId,jdbcType=INTEGER},
      GOODS_TITLE = #{goodsTitle,jdbcType=VARCHAR},
      IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      SPEC_TEXT = #{specText,jdbcType=VARCHAR},
      GOODS_PRICE = #{goodsPrice,jdbcType=DECIMAL},
      REAL_PRICE = #{realPrice,jdbcType=DECIMAL},
      QUANTITY = #{quantity,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>